* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

*::-webkit-scrollbar {
    display: none;
}

#backgroundImages {
    width: 75px;
    /* 이미지의 크기를 원본의 25%로 줄임 */
    position: absolute;
    top: 20px;
    left: 20px;
    /* 절대 위치 지정 */
    /* transform: translateX(-920px) translateY(25px); */
    cursor: pointer;
}

.board {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url(/images/kanban.jpg);
    background-position: center;
    background-size: cover;
}

.todo-form {
    display: flex;
    justify-content: center;
    width: 80%; /* 폭을 100%로 설정 */
    padding: 16px;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#todo-input {
    padding: 8px;
    margin: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    outline: none;
    width: 40%;
    height: 100%;
}

.add {
    background: #4caf50;
    color: white;
    cursor: pointer;
    border: none;
    font-weight: bold;
    width: 5%;
    height: 100%;
    padding: 8px;
    margin: 5px;
    border-radius: 4px;
}

.lanes {
    display: flex;
    width: 100%; /* 전체 너비 사용 */
    padding: 0 10px; /* 좌우 패딩 추가 */
}

.swim-lane {
    display: flex;
    flex-direction: column;
    background: rgba(244, 244, 244, 0.8);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    padding: 12px;
    border-radius: 4px;
    flex: 1; /* 각 섹션의 너비를 동일하게 조정 */
    margin: 10px; /* 섹션 간 동일한 마진을 적용 */
    min-height: 120px;
}

.heading {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fixed {
    position: relative;
    background: white;
    color: black;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    padding: 12px;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 10px;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.todoList > p {
    background: #e0f7fa; /* 아주 연한 하늘색 */
    height: 45px;
}

.doingList > p {
    background: #ffcdd2; /* 아주 연한 빨간색 */
    height: 45px;
}

.completeList > p {
    background: #c8e6c9; /* 아주 연한 초록색 */
    height: 45px;
}

.delete-btn {
    padding: 0 5px;
    border: none;
    background: none;
    cursor: pointer;
    font-weight: bold;
    color: red;
    display: inline;
    vertical-align: middle;
}
